//! **************************************************************************
// Written by: Map P.68d on Fri Sep 27 16:53:22 2013
//! **************************************************************************

SCHEMATIC START;
COMP "VGA_R<0>" LOCATE = SITE "M19" LEVEL 1;
COMP "VGA_R<1>" LOCATE = SITE "L20" LEVEL 1;
COMP "VGA_R<2>" LOCATE = SITE "J20" LEVEL 1;
COMP "VGA_R<3>" LOCATE = SITE "G20" LEVEL 1;
COMP "VGA_R<4>" LOCATE = SITE "F19" LEVEL 1;
COMP "VGA_G<0>" LOCATE = SITE "H18" LEVEL 1;
COMP "VGA_G<1>" LOCATE = SITE "N20" LEVEL 1;
COMP "CLK_I" LOCATE = SITE "L16" LEVEL 1;
COMP "VGA_G<2>" LOCATE = SITE "L19" LEVEL 1;
COMP "VGA_G<3>" LOCATE = SITE "J19" LEVEL 1;
COMP "VGA_G<4>" LOCATE = SITE "H20" LEVEL 1;
COMP "VGA_HS_O" LOCATE = SITE "P19" LEVEL 1;
COMP "VGA_G<5>" LOCATE = SITE "F20" LEVEL 1;
COMP "VGA_VS_O" LOCATE = SITE "R19" LEVEL 1;
COMP "VGA_B<0>" LOCATE = SITE "P20" LEVEL 1;
COMP "VGA_B<1>" LOCATE = SITE "M20" LEVEL 1;
COMP "VGA_B<2>" LOCATE = SITE "K19" LEVEL 1;
COMP "VGA_B<3>" LOCATE = SITE "J18" LEVEL 1;
COMP "VGA_B<4>" LOCATE = SITE "G19" LEVEL 1;
SCHEMATIC END;

